#nav-icon4 {
  width: 28px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
  display: block;

  &:hover > span {
    background-color: #00e0ee;
    transform: scale(1.2);
  }
  &:hover.open-n {
    transform: scale(1.1);
  }
}

#nav-icon4 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  transform-origin: right center;
}

#nav-icon4 span:nth-child(2) {
  top: 10px;
  transform-origin: right center;
}

#nav-icon4 span:nth-child(3) {
  top: 20px;
  transform-origin: right center;
}

#nav-icon4.open-n span:nth-child(1) {
  transform: rotate(-45deg);
}

#nav-icon4.open-n span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open-n span:nth-child(3) {
  transform: rotate(45deg);
}
