@layer base {
  /* body {
    @apply min-w-window;
  } */
  :root {
    font-family: 'geomanist';
  }
  /* ::selection {
    color: black;
    background: #00e0ee;
  } */
}

.contain {
  @apply mx-auto container;
}

.hover-shadow {
  @apply hover:bg-custom-linkHover rounded-full p-2 sm:py-1 sm:px-4;
}

.nav-link {
  @apply flex items-center justify-center sm:justify-start hover:text-white sm:w-2/3;
}

.howl-btn {
  @apply bg-custom transition-all transform hover:scale-105 text-white font-bold px-4 py-1 ml-4 rounded-md;
}
.howl-btn-disabled {
  @apply bg-custom-disabled cursor-default text-white font-bold px-4 py-1 ml-4 rounded-md;
}

.scroll::-webkit-scrollbar {
  display: none;
}
