@layer base {
  /* body {
    @apply min-w-window;
  } */
  :root {
    font-family: 'geomanist';
  }
  /* ::selection {
    color: black;
    background: #00e0ee;
  } */
}

.contain {
  @apply mx-auto container;
}

.hover-shadow {
  @apply hover:bg-custom-linkHover rounded-full p-2 sm:py-1 sm:px-4;
}

.nav-link {
  @apply flex items-center justify-center sm:justify-start hover:text-white sm:w-2/3;
}

.howl-btn {
  @apply bg-custom transition-all transform hover:scale-105 text-white font-bold px-4 py-1 ml-4 rounded-md;
}
.howl-btn-disabled {
  @apply bg-custom-disabled cursor-default text-white font-bold px-4 py-1 ml-4 rounded-md;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.howl-wrapper {
  @apply my-5 flex flex-col items-center justify-center gap-8 overflow-hidden;
}

.new-howl {
  @apply bg-custom text-white sm:px-4 sm:py-1 rounded-full sm:rounded-md text-base flex items-center justify-center sm:w-24 cursor-pointer;
}

.page-wraper {
  @apply max-w-main w-main border-r-4 border-l-4 border-custom;
}

.howl-text-area {
  @apply flex-auto border-2 focus:border-custom focus-within:outline-none rounded-md p-1 self-start overflow-auto mb-3 w-full;
}
