@font-face {
  font-family: 'geomanist';
  src: url('/fonts/geomanist-bold-webfont.woff2') format('woff2'),
    url('/fonts/geomanist-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
